.meeting {
  background-color: lightsteelblue;
  width: 300px;
  padding: 20px;
  margin: 10px;
}

.meeting .name {
  color: white;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: larger;
  margin: 0px;
}

.meeting .time {
  color: gray;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: medium;
  margin: 0px;
}

.meeting .location {
  color: gray;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  font-size: small;
  margin: 0px;
}